md-content {
    overflow: hidden;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    font-size : 14px;
    line-height : 24px;
    font-style: normal;
}
.lgn {
    min-width: 500px;
}
th , td  {
    border : 0;
    border-bottom: 1px solid #9E9E9E;
    padding: 8px;
    text-align: center;
}
table {
    width: 100%;
    border-spacing: 0;
    background : #FFF;
    margin : 8px 0 4em; 
    border-top: 1px solid #9E9E9E;
}
tr:nth-child(2n) {
    background : #F5F5F5;
}

.leads_bttn {
    text-transform: none;
    font-size: 0.8em;
}
.lable_clr {
    color: rgba(0,0,0,0.38);
}
md-input-container label span.lacs_per_user {
    color: orange;
}
@media all and (max-width:600px) {
    .lgn {
        min-width: 280px;
        width: 280px;
    }
    table {
        min-width: 300px;
        width: 100%;
    }
    body {
        overflow-x: hidden;
    }
    .leads_bttn {
        text-transform: none;
        font-size: 0.6em;
        letter-spacing: normal;
    }
}
@media all and (min-width:600px) and (max-width:960px) {
    table {
        min-width: 500px;
        width:100%;
    }
}

.wrapper{
    min-height: 100%;
}

.wrapper._add-padng > *:not(md-toast):first-child {
    padding-top : 64px;
    min-height : 100%;
}

.wrapper.popup{
    width: 100%;
    max-width: 640px;
}

#mainHeader {
    position : relative;
    left: 0;
    z-index : 79;
}
#mainHeader._fix {
    position : fixed;
    top : -64px;
    transition : top .15s ease-in;
    -webkit-transition : top .15s ease-in;
    -moz-transition : top .15s ease-in;
}
#mainHeader._fix._sticky {
    top : 0;
}
md-dialog {
    min-width : 480px;
    max-height: 90% !important;
    max-width : 72%;
}
a._act-btn, .popup a:not(.close) {
    font-size : 0.9285em;
    text-decoration : none;
}
.popup a:not(.close), a._act-btn{ 
    color : #2196f3;
}
md-toast {
    height : 64px;        
    position : fixed;
    bottom : 40px !important;
    left : 50% !important;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    text-align: center;
}